.differences-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0px;
    gap: 40px;
}

.container-cards-differences{
    display: flex;
    justify-content: center;
    gap: 70px;
}